version: '3.9'

services:

#  stats-server:
#    ports:
#      - "9090:9090"

  stats-db:
    image: postgres:16.1
    container_name: stats-db
    # restart: always
    environment:
      POSTGRES_DB: stats
      POSTGRES_USER: stats
      POSTGRES_PASSWORD: stats
    ports:
      - "5432:5432"
    # volumes:
    #   - ./db-data:/var/lib/postgresql/data

#  ewm-service:
#    ports:
#      - "8080:8080"
#
#  ewm-db:
#    image: postgres:16.1
